/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c9d070;
    color: #333;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Header */
header {
    background-color: #1c1c1c;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 24px;
    margin: 0;
    color: #ffffff;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li a {
    font-weight: 700;
    color: #cfd2d4;
    transition: color 0.3s ease-in-out;
}

nav ul li a.active {
    color: #1db251;
}

nav ul li a:hover {
    color: #1db251;
}

/* Contact Section */
#contact {
    padding: 50px;
    text-align: center;
}

#contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #d55050;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #940c0c;
    border-radius: 5px;
    font-size: 14px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #cd86cf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: #555;
}

/* Contact Details Section */
#details {
    padding: 50px;
    text-align: center;
    background-color: #bdb5b5;
}

#details h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#details p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links li a {
    font-size: 16px;
    color: #1db251;
    transition: color 0.3s ease-in-out;
}

.social-links li a:hover {
    color: #333;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer p {
    margin: 0;
}